#main-div {
    background-color: black;
    width: 50%;
    height: 400px;
    margin: 2%;
    padding: 2%;
    position: absolute;
    left: 25%;
}
#main-div .num {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0.2%;
}
.num {
    color: aliceblue;
    letter-spacing: 3ch;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
}
.line {
    background-color: rgb(5, 253, 253);
    width: 325px;
    height: 10px;
    position: absolute;
    left: 200px;
}

