#container{
    background-color: lightgray;
    width: 50%;
    margin: 25%;
    margin-top: 5%;
    min-height: 400px;
    padding: 2%;
}
.img {
    width: 100px;
    height: 100px;
    background-color: rgb(253, 122, 122);
    
}
#container .img {
    position: absolute ;
    left: calc(400px + 500px);
    top: calc(100px + 100px);
}
.cross1 {
    height: 55px;
    width: 5px;
    background-color: black;
    transform: rotate(45deg);
    position: absolute;
    left: 50px;
    top: 25px;
}
.cross2 {
    height: 55px;
    width: 5px;
    background-color: black;
    left: 50px;
    position: absolute;
    transform: rotate(-45deg);
    top: 25px;
}

